.header-contents{
    background:rgb(80, 80, 155) ;
    color: white;
    padding: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.app-name{
    color:white;
    font-size: 28px;
    font-weight: bold;
    margin:0;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

ul{
    list-style: none;
    display:flex;
    margin: 0;
    padding:0;
    gap: 10px;
}

ul li{
    display: flex;
    align-items: center;
    
}