form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin-bottom:15px;
    font-size: 18px;
    font-weight:bold;
    color:#07253d;
}

input{
    width:500px;
    margin:0;
    height: 20px;
    padding: 10px;
    border: 2px solid #07253d;
    border-radius: 8px;
    box-shadow: 0 5px 8px 5px rgba(0,0,0,0.5); 
    font-size: 16px;
    font-weight:400;
    margin-bottom:15px;
}